<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="imagex/png" href="{% static 'img/vulcao.png' %}">
    <link rel="stylesheet" href="{% static 'styles/styyle.css' %}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="sidebar">
    <div class="logo-details">
        <i class='bx bxs-rocket'></i>
        <div class="logo_name">
            <a href="/home/" style="text-decoration:none"> Vulcano </a>
        </div>
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
        <li>
            <i class='bx bx-search'></i>
            <input type="text" placeholder="Pesquisar...">
            <span class="tooltip">Pesquisar</span>
        </li>
        <li>
            <a href="/cardapio/">
                <i class='bx bxs-food-menu'></i>
                <span class="links_name">Cárdapio</span>
            </a>
            <span class="tooltip">Cárdapio</span>
        </li>
        <li>
            <a href="/estoque/">
                <i class='bx bx-pie-chart-alt-2'></i>
                <span class="links_name">Estoque</span>
            </a>
            <span class="tooltip">Estoque</span>
        </li>
        <li>
            <a href="/vendas/">
                <i class='bx bx-credit-card'></i>
                <span class="links_name">Vendas</span>
            </a>
            <span class="tooltip">Vendas</span>
        </li>
        <li>
            <a href="/compras/">
                <i class='bx bx-cart-alt'></i>
                <span class="links_name">Compras</span>
            </a>
            <span class="tooltip">Compras</span>
        </li>
        <li class="profile">
            <div class="profile-details">
                <img src="{% static 'img/vulcao.png' %}" alt="profileImg">
                <div class="name">Doce Guetto
                </div>
            </div>
            <a href="/">
                <i class='bx bx-log-out' id="log_out"></i>
                <span class="links_name">Sair</span>
            </a>
            <span class="tooltip">Sair</span>
        </li>
    </ul>
</div>
<section class="home-section">
    <center><h1>Cardápio Doce Guetto</h1></center>
    <div id="cardapio">
        
        <div id="item">
            <h2>Kit Festa</h2>
            <center><img src="{% static 'img/festa2.jpeg' %}" ></center>
            <p>Festa na caixa (serve até 3 pessoas)<br>
                500G Bolo, 10 Bomboms, 24 Salgados, <br>
                2 Refrigerantes 350ML,Guardanapos, <br>
                Foto com dedicatória.
            <h1>R$ 150,00</h1>
            <a href="/carrinho/">
                <button>Carrinho</button> </a>
        </div>
        <div id="item">
            <h2>Bolo de Ameixa</h2>
            <center><img src="{% static 'img/ameixa.jpeg' %}"></center>
            <p>Doce de leite com ameixa( P 16Kg) <br>
                Ingredientes: <br>
                Ovos, Açucar, Leite, <br>
                Manteiga, Farinha de trigo, Fermento químico. <br>
                Leite condensado, Creme de leite ,<br>
                Ameixas-pretas sem caroço, Gelatina em pó incolor.
            </p>
            <h1>R$ 80,00</h1>
            <a href="/carrinho/">
                <button>Carrinho</button> </a>
        </div>
        <div id="item">
            <h2>Bolo Belga</h2>
            <center><img src="{% static 'img/belga.jpeg' %}"></center>
            <p>Belga com cobertura de ganache (P 1,5KG)br>
                Barra de chocolate belga, Açucar, Leite <br>
                Ovos, Manteiga, Farinha de trigo <bR>
                Chocolate em pó, Leite condensado
            </p>
            <h1>R$ 70,00</h1>
            <a href="/carrinho/">
                <button>Carrinho</button> </a>
        </div>
        <div id="item">
            <h2>Bolo Kit Kat</h2>
            <center><img src="{% static 'img/mms.jpeg' %}"></center>
            <p>Famoso Bolo de Kit Kat (PP 1,3Kg)<br>
                Leite, Ovos, Margarina, Açucar,<br>
                Chocolate em pó, Farinha de trigo,<br>
                Fermento químico em pó, Leite condensado,<br>
                Creme de leite, KitKat.
            </p>
            <h1>R$ 60,00</h1>
            <a href="/carrinho/">
                <button>Carrinho</button> </a>
        </div>
        <div id="item">
            <h2>Bolo Ferrero Rocher</h2>
            <center><img src="{% static 'img/ferreroroche.jpeg' %}"></center>
            <p>Saboroso Bolo de Ferrero Rocher ( M 1,8Kg )<br>
                Ovos, Açucar, Barra de chocolate, Nutella,<br>
                extrato de baunulha, Creme de leite,<br>
                Farinha de trigo, Avelãs, Fermento químico,<br>
                Bomboms Ferrero Rocher.
            </p>
            <h1>R$ 100,00</h1>
            <a href="/carrinho/">
                <button>Carrinho</button> </a>
        </div>
        <div id="item">
            <h2>Bolo Personalizado</h2>
            <center><img src="{% static 'img/bolopersonalizado.jpeg' %}"></center>
            <p>Peça seu Bolo Personalizado<br>
                Açucar, Farinha de trigo, margarina,<br>
                Ovos, Leite, Fermento em pó,
            </p>
            <h1>A partir de R$ 55,00</h1>
            <a href="/carrinho/">
            <button>Carrinho</button> </a>
        </div>
        
    </div>
</section>
<script>
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");

  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();//calling the function(optional)
  });

  searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
    sidebar.classList.toggle("open");
    menuBtnChange(); //calling the function(optional)
  });

  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
   if(sidebar.classList.contains("open")){
     closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
   }else {
     closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
   }
  }



</script>
</body>
</html>

