<html>
    <head>
        <title>Cardapio</title>
    </head>
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <body>
        <nav id="menu">
            <ul>
                <li>
                   <a href="cardapio.html"> Cardapio </a>
                </li>
                <li>
                    <a href="estoque.html"> Estoque </a>
                </li>
            </ul>
        </nav>
        <div id="cardapio">
            <div id="item">
                <h2>Kit Festa</h2>
                <img src="./img/festa2.jpeg">
                <p>Festa na caixa (serve até 3 pessoas</p>
                <h1>R$ 150,00</h1>
                <BUtton>Carrinho</BUtton>
            </div> 
            <div id="item">
                <h2>Bolo de Ameixa</h2>
                <img src="./img/ameixa.jpeg">
                <p>Doce de leite com ameixa( P 16Kg)</p>
                <h1>R$ 80,00</h1>
                <BUtton>Carrinho</BUtton>
            </div> 
            <div id="item">
                <h2>Bolo Belga</h2>
                <img src="./img/belga.jpeg">
                <p>Belga com cobertura de ganache (P 1,5KG)</p>
                <h1>R$ 70,00</h1>
                <BUtton>Carrinho</BUtton>
            </div> 
            <div id="item">
                <h2>Bolo Kit Kat</h2>
                <img src="./img/mms.jpeg">
                <p>Famoso Bolo de Kit Kat (PP 1,3Kg)</p>
                <h1>R$ 60,00</h1>
                <BUtton>Carrinho</BUtton>
            </div> 
            <div id="item">
                <h2>Bolo Ferrero Rocher</h2>
                <img src="./img/ferreroroche.jpeg">
                <p>Saboroso Bolo de Ferrero Rocher ( M 1,8Kg )</p>
                <h1>R$ 100,00</h1>
                <BUtton>Carrinho</BUtton> 
            </div> 
            <div id="item">
                <h2>Bolo Personalizado</h2>
                <img src="./img/bolopersonalizado.jpeg">
                <p>Peça seu Bolo Personalizado</p>
                <h1>A partir de R$ 55,00</h1>
                <BUtton>Carrinho</BUtton>
            </div> 
        </div>
    </body>
</html>