<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Responsive Sidebar Menu  | CodingLab </title>-->
    <link rel="stylesheet" href="styyle.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxs-rocket'></i>
        <div class="logo_name">Vulcano</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li>
          <i class='bx bx-search' ></i>
         <input type="text" placeholder="Pesquisar...">
         <span class="tooltip">Pesquisar</span>
      </li>
      <li>
        <a href="cardapio.html">
        <i class='bx bxs-food-menu'></i>
          <span class="links_name">Cárdapio</span>
        </a>
         <span class="tooltip">Cárdapio</span>
      </li>
     <li>
       <a href="estoque.html">
         <i class='bx bx-pie-chart-alt-2' ></i>
         <span class="links_name">Estoque</span>
       </a>
       <span class="tooltip">Estoque</span>
     </li>
     
     <li>
       <a href="carrinho.html">
         <i class='bx bx-cart-alt' ></i>
         <span class="links_name">Carrinho</span>
       </a>
       <span class="tooltip">Carrinho</span>
     </li>
     <li>
        <a href="cadastro.html">
        <i class='bx bx-plus-circle'></i>
          <span class="links_name">Cadastrar Produto</span>
        </a>
        <span class="tooltip">Cadastrar Produto</span>
      </li>
      <li>
      <a href="visualizcao.html">
        <i class='bx bx-show'></i>
          <span class="links_name">Visualizar produto</span>
        </a>
        <span class="tooltip">Visualizar produto</span>
      </li>
     <li class="profile">
         <div class="profile-details">
           <img src="img/vulcao.png" alt="profileImg">
             <div class="name">Doce Guetto
           </div>
         </div>
         <a href="#">
         <i class='bx bx-log-out' id="log_out" ></i>
         <span class="links_name">Sair</span>
        </a>
        <span class="tooltip">Sair</span>
      </li>
     </li>
    </ul>
  </div>
  <section class="home-section">
    <div id="cardapio">
      <div id="item">
                <h2>Kit Festa</h2>
                <img src="./img/festa2.jpeg">
                <p>Festa na caixa (serve até 3 pessoas</p>
                <h1>R$ 150,00</h1>
                <BUtton>Carrinho</BUtton>
            </div> 
            <div id="item">
                <h2>Bolo de Ameixa</h2>
                <img src="./img/ameixa.jpeg">
                <p>Doce de leite com ameixa( P 16Kg)</p>
                <h1>R$ 80,00</h1>
                <BUtton>Carrinho</BUtton>
            </div> 
            <div id="item">
                <h2>Bolo Belga</h2>
                <img src="./img/belga.jpeg">
                <p>Belga com cobertura de ganache (P 1,5KG)</p>
                <h1>R$ 70,00</h1>
                <BUtton>Carrinho</BUtton>
            </div> 
            <div id="item">
                <h2>Bolo Kit Kat</h2>
                <img src="./img/mms.jpeg">
                <p>Famoso Bolo de Kit Kat (PP 1,3Kg)</p>
                <h1>R$ 60,00</h1>
                <BUtton>Carrinho</BUtton>
            </div> 
            <div id="item">
                <h2>Bolo Ferrero Rocher</h2>
                <img src="./img/ferreroroche.jpeg">
                <p>Saboroso Bolo de Ferrero Rocher ( M 1,8Kg )</p>
                <h1>R$ 100,00</h1>
                <BUtton>Carrinho</BUtton> 
            </div> 
            <div id="item">
                <h2>Bolo Personalizado</h2>
                <img src="./img/bolopersonalizado.jpeg">
                <p>Peça seu Bolo Personalizado</p>
                <h1>A partir de R$ 55,00</h1>
                <BUtton>Carrinho</BUtton>
            </div> 
        </div>
      </div>
  </section>
  <script>
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");

  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();//calling the function(optional)
  });

  searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
    sidebar.classList.toggle("open");
    menuBtnChange(); //calling the function(optional)
  });

  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
   if(sidebar.classList.contains("open")){
     closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
   }else {
     closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
   }
  }
  </script>
</body>
</html>

