<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VULCANO</title>
    <link rel="stylesheet" href="styleHome.css" />
</head>

<body>
<header>
    <nav>
        <a class="logo" href="/">VULCANO</a>
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-list">
            <li><a href="/">Início</a></li>
            <li><a href="/estoque">Estoque</a></li>
            <li><a href="/cardapio">Cardápio</a></li>
            <li><a href="/caixa">Caixa</a></li>
            <li><a href="/calendario">Calendário de Pedidos</a></li>
            <li><a href="/clientesEfornecedores">Clientes e Fornecedores</a></li>
        </ul>
    </nav>
</header>
<main>
    <br>
        <h1 align="center">Bem-vindo!</h1>
</main>
<script src="mobile-navbar.js"></script>
</body>
</html>