<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="imagex/png" href="{% static 'img/vulcao.png' %}">
  <link rel="stylesheet" href="{% static 'styles/logiin.css' %}">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script defer src="{% static 'styles/script.js' %}"></script>
  <title>Bem-Vindo!</title>
</head>
<body>
  <main class="login">
    <div class="login__container">
      <h1 class="login__title">Login</h1>
      <form class="login__form">
        <input class="login__input" type="email" placeholder="e-mail" />
        <span class="login__input-border"></span>
        <input class="login__input" type="password" placeholder="senha"/>
        <span class="login__input-border"></span>
        <a  href="/home/" class="btn btn-success"> Login </a> <br>
        <a  href="/home/" class="btn btn-primary">Cadastro</a>
        <a class="login__reset" href="#">Esqueceu a senha?</a>
      </form>
    </div>
  </main>
</body>
</html>
